Repository eslint/website, pull requests merged in 2021-01, with the labels that each got.

#821 Docs: add highlights for v7.17.0
  _posts/2021-01-01-eslint-v7.17.0-released.md
Labels: triage

#822 New: Blog post announcing Google Chrome sponsorship
  _posts/2021-01-13-chrome-gold-sponsor-eslint.md
  assets/img/logos/chrome.svg
Labels: accepted, blog post

#823 Add NetHunt logo to the site.
  _data/logos.yml
  assets/img/logos/nethunt.png
Labels: triage

#825 Docs: Add clarification link to rule policy blog post
  _posts/2020-05-22-changes-to-rules-policies.md
Labels: accepted, blog post

#826 Docs: Remove old configuring docs
  docs/user-guide/configuring.md
Labels: accepted, documentation

#827 Docs: Add v7.19.0 release highlights
  _posts/2021-01-30-eslint-v7.19.0-released.md
Labels: accepted, blog post
